.button {
  background-color: #21106b;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
  cursor: pointer;
}

.label {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 20px;
  flex-direction: row;
}

.h3 {
  color: white;
  font-size: 30px;
  margin: 0px;
}

.input {
  background-color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  width: 300px;
  height: 40px;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: row;
}
