.card {
  display: flex;
  background-color: #757575;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
