.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  background-color: #04357e;
  border: 20px solid #2e6fd1;
  border-radius: 5px;
  padding: 30px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: 20px;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  align-items: center;
  font-size: large;
  color: white;
  overflow: hidden;
  word-wrap: break-word;
}

.emoji {
  font-size: 40px;
  padding: 0px;
  margin: auto;
}

.card div {
  max-height: 100%; /* Ensure content fits within the card */
  overflow: auto; /* Add scroll if content overflows */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.editButton {
  background-color: #04357e;
}

.deleteButton {
  background-color: #04357e;
}

.saveButton {
  background-color: #04357e;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 15px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: right;
}