.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.arrowLeft,
.arrowRight {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: antiquewhite;
}

.images {
  display: flex;
  gap: 1rem;
}

.images > div {
  flex: 1;
}

.shuffle {
  background-color: #21106b;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-left: 45%;
  padding:
}

.h1 {
  color: rgb(60, 60, 61);
  font-size: 2rem;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}